RewriteEngine On



RewriteRule ^home$ /src/modules/public/frontend/public-home-page.php [L]
RewriteRule ^sales$ /src/modules/public/frontend/public-sales.php [L]
RewriteRule ^stock$ /src/modules/public/frontend/public-stock.php [L]
RewriteRule ^profile$ /src/modules/public/frontend/public-profile.php [L]
RewriteRule ^login$ /src/modules/public/frontend/public-login.php [L]



RewriteRule ^login-adega$ /src/modules/public/backend/public-login.php [L]
RewriteRule ^logout$ /src/modules/public/backend/public-logout.php [L]
RewriteRule ^get-adega$ /src/modules/public/backend/public-get-adega.php [L]
RewriteRule ^profile-edit$ /src/modules/public/backend/public-profile-edit.php [L]