@import "tailwindcss";

.label {
    @apply block uppercase tracking-wide text-amber-50 text-xs font-bold mb-2;
}

.form-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-[#343e59] leading-tight focus:outline-none;
}

.btn {
   @apply font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 bg-[#343e59] text-amber-50 hover:scale-105 duration-300 text-center cursor-pointer;
}

.btn-success {
   @apply font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 bg-green-900 text-amber-50 hover:scale-105 duration-300 text-center cursor-pointer;
}