@import "tailwindcss";

.label {
    @apply block uppercase tracking-wide text-amber-50 text-xs font-bold mb-2;
}

.form-input {
    @apply shadow appearance-none border rounded w-full h-[46px] py-2 px-3 text-[#343e59] leading-tight focus:outline-none;
}

.btn {
   @apply font-medium rounded-lg text-sm px-5 py-2.5 mb-2 bg-[#343e59] text-amber-50 hover:scale-105 duration-300 text-center cursor-pointer;
}

.btn-success {
   @apply font-medium rounded-lg text-sm px-5 py-2.5 mb-2 bg-green-900 text-amber-50 hover:scale-105 duration-300 text-center cursor-pointer;
}

.select2-container--default .select2-selection--single {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-[#343e59] leading-tight focus:outline-none;
    height: auto !important; /* resolve achatamento */
    min-height: 42px;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%);
    right: 10px;
}

.select2-container--default .select2-selection__rendered {
    color: #343e59;
    line-height: 1.5;
}

.select2-dropdown {
    @apply shadow rounded border bg-white text-[#343e59];
}

.select2-results__option {
    padding: 0.5rem 1rem;
}

.select2-results__option--highlighted {
    background-color: #e2e8f0;
    color: #1a202c;
}

.loading-dots::after {
    content: '';
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% { content: ''; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
    100% { content: ''; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
}
